/* GLOBALES */

:root {
    --fuentePrincipal: "Outfit", sans-serif;
    --colorPrincipal: #46BDC6;
    --colorSecundario: #4267AC;
    --colorNeutro: #f5f5f5;
    --borderRadius: 35px;
}

.campus {
    min-height: 75vh;
}

@media screen and (min-width: 768px) {
    .campus {
        min-height: 70vh;
    }
}

.campus__grid {
    display: grid;
    gap: 15px;
}

@media screen and (min-width: 768px) {
    .campus__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
}

.campus__card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius);
    background-color: var(--colorSecundario);
    color: var(--colorNeutro);
    font-size: 14px;
    text-align: center;
    padding: 35px;
}

@media screen and (min-width: 768px) {
    .campus__card {
        font-size: 18px;
        padding: 50px;
    }
}

.campus__card--mas {
    background-color: var(--colorPrincipal);
}

.buscar__universidades {
    margin-top: 10px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .buscar__universidades {
        display: flex;
        justify-content: center;
    }
}

.buscar__barra--universidades::placeholder {
    color: var(--colorNeutro);
}

.buscar__barra--universidades {
    background-color: var(--colorPrincipal);
    color: var(--colorNeutro);
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .buscar__barra--universidades {
        margin-bottom: 20px;
    }
}

.buscar__lupa--universidades {
    right: 30px;
}

@media screen and (min-width: 768px) {
    .buscar__lupa--universidades {
        right: 10px;
    }
}